# .gitignore

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
env/

# Archivos de configuración de Docker
*.log
Dockerfile*
docker-compose.yml

# Archivos del sistema operativo
.DS_Store